<table id="data">
<tbody>
<tr>
<th width="256px">
<button onclick="sortbyuse()">Charakter</button>
</th>
<th width="256px">
<button onclick="sortbyava()">Avatar</button>
</th>
<th>
Anmerkungen
</th>
</tr>
</tbody>
</table>
<hr>
<p><strong><u><span style="color:#FFA500;">Geblockte/Gesperrte Avatare:</span></u></strong></p>
<table id="blocked">
<tbody>
<tr>
<th width="256px">
</th>
<th width="256px">
</th>
<th>
</th>
</tr>
</tbody>
</table>
</table>
<hr>
<p><strong><u><span style="color:#FFA500;">Charaktere ohne Bild:</span></u></strong></p>
<table id="special">
<tbody>
<tr>
<th width="256px">
</th>
<th width="512px">
</th>
<th>
</th>
</tr>
</tbody>
</table>

{literal}<script>
	
	var avatars = [], blocked = [], special = [];
	var output = document.getElementById("data");
	var sortby = "use";
	
	function draw_list()
	{
		var startswith = " ";
		output.getElementsByTagName("tbody")[0].innerHTML = output.rows[0].innerHTML;
		for(i in avatars)
		{
			var avatar = avatars[i];
			var newRow, newCell, newText;
			if((sortby == "use") && (avatar.use.charAt(0) != startswith))
			{
				startswith = avatar.use.charAt(0);
				newRow = output.getElementsByTagName("tbody")[0].insertRow();
				newCell = newRow.insertCell();
				newText = document.createTextNode(startswith);
				newCell.appendChild(newText);
			}
			if((sortby == "ava") && (avatar.avatar.charAt(0) != startswith))
			{
				startswith = avatar.avatar.charAt(0);
				newRow = output.getElementsByTagName("tbody")[0].insertRow();
				newCell = newRow.insertCell();
				newText = document.createTextNode("");
				newCell.appendChild(newText);
				newCell = newRow.insertCell();
				newText = document.createTextNode(startswith);
				newCell.appendChild(newText);
			}
			newRow = output.getElementsByTagName("tbody")[0].insertRow();
			newCell = newRow.insertCell();
			newText = document.createTextNode(avatar.use);
			newCell.appendChild(newText);
			newCell = newRow.insertCell();
			newText = document.createTextNode(avatar.avatar);
			newCell.appendChild(newText);
			newCell = newRow.insertCell();
			newText = document.createTextNode(avatar.notes);
			newCell.appendChild(newText);
		}	
	}
	
	function generate_lists(response)
	{
		for(i in response.avatars)
		{
			var avatar = response.avatars[i];
			console.log(avatar);
			switch(avatar.state)
			{
				case 0:
					avatars.push(avatar);
					break;
				case 1:
					blocked.push(avatar);
					break;
				case 2:
					special.push(avatar);
					break;
			}			
		}
		avatars.sort(function cmp(a,b){return a.use.localeCompare(b.use);});
		blocked.sort(function cmp(a,b){return a.use.localeCompare(b.use);});
		special.sort(function cmp(a,b){return a.use.localeCompare(b.use);});
		draw_list();
		for(i in blocked)
		{
			avatar = blocked[i];
			var newRow = document.getElementById("blocked").getElementsByTagName("tbody")[0].insertRow();
			var newCell = newRow.insertCell();
			var newText = document.createTextNode(avatar.avatar);
			newCell.appendChild(newText);
			newCell = newRow.insertCell();
			if(avatar.use != "") newText = document.createTextNode("geblockt für " + avatar.use);
			else if(avatar.notes != "") newText = document.createTextNode("gesperrt bis " + avatar.notes);
			else newText = document.createTextNode("gesperrt");
			newCell.appendChild(newText);
		}
		for(i in special)
		{
			avatar = special[i];
			var newRow = document.getElementById("special").getElementsByTagName("tbody")[0].insertRow();
			var newCell = newRow.insertCell();
			var newText = document.createTextNode(avatar.use);
			newCell.appendChild(newText);
			newCell = newRow.insertCell();
			newText = document.createTextNode(avatar.notes);
			newCell.appendChild(newText);
		}	
	}

	function sleep(milliseconds)
	{
		const date = Date.now();
		let currentDate = null;
		do {
			currentDate = Date.now();
		} while (currentDate - date < milliseconds);
	}
	
	function send_data(data)
	{               
		// Creating a XHR object 
		let xhr = new XMLHttpRequest(); 
		let url = "avatarliste.php"; 
		
		// open a connection 
		xhr.open("POST", url, true); 

		// Set the request header i.e. which type of content you are sending 
		xhr.setRequestHeader("Content-Type", "application/json"); 

		// Create a state change callback 
		xhr.onreadystatechange = function () { 
			if (xhr.readyState === 4 && xhr.status === 200) { 

				// Print received data from server 
				console.log(this.responseText);
				var response = JSON.parse(this.responseText);
				switch(response.type)
				{
					case "list":
						generate_lists(response.data);
						break;
					default:
						console.log("Fehlschlag! " + this.responseText);
						break;
				}
			} 
		};
		
	
		// Sending data with the request 
		sleep(100); //wait a bit before sending, to prevent collisions
		xhr.send(data); 
	}
	
	function sortbyava()
	{
		avatars.sort(function cmp(a,b){return a.avatar.localeCompare(b.avatar);});
		sortby = "ava";
		draw_list();
	}
	
	function sortbyuse()
	{
		avatars.sort(function cmp(a,b){return a.use.localeCompare(b.use);});
		sortby = "use";
		draw_list();
	}
	
	send_data(JSON.stringify({"type": "list"}));
		
</script>{/literal}
