<table>
<tr>
<td>
<form>
	Name: <br><input type="text" id="name" style="width:192px"><br>
	<input type="button" id="srch_char" value="Char suchen" style="width:192px"><br>
	<input type="button" id="srch_avatar" value="Avatar suchen" style="width:192px"><br>
	<input type="button" id="submit" value="Ändern" style="width:192px"><br>
	<input type="button" id="add" value="Hinzufügen" style="width:192px"><br>
	<input type="button" id="delete" value="Löschen" style="width:192px"><br>
</form>
</td>
<td>
<form>
	Nutzung: <br><input type="text" id="char" style="width:192px"><br>
	<label for="state">Status:</label><br>
	<select id="state" name="state" style="width:192px">
	  <option value="0" selected>In Benutzung</option>
	  <option value="1">Gesperrt</option>
	  <option value="2">Andere</option>
	</select><br>
	Anmerkungen: <br><input type="text" id="notes" style="width:192px"><br>
	ID: <br><input type="text" id="id" style="width:192px"><br>
</form>
</td>
</tr>
</table>
<!--<table>
<tr>
<td>
<form>
	Name: <input type="text" id="name"><br>
	<input type="button" id="srch_char" value="Char suchen"><br>
	<input type="button" id="srch_avatar" value="Avatar suchen"><br>
	<input type="button" id="check" value="Avatar überprüfen"><br>
	<input type="button" id="check_all" value="Alle überprüfen"><br>
</form>
</td>
<td>
<form>
	Nutzung: <br><input type="text" id="char"><br>
	<label for="state">Status:</label><br>
	<select id="state" name="state">
	  <option value="0" selected>In Benutzung</option>
	  <option value="1">Gesperrt</option>
	  <option value="2">Andere</option>
	</select><br>
	Anmerkungen: <br><input type="text" id="notes"><br>
	<input type="button" id="submit" value="Ausführen"><br>
</form>
</td>
<td>
<form>
	Überprüfung:<br>
	<textarea id="results" rows="8" cols="96"></textarea>
</form>
</td>
</tr>
</table>-->
<div id="snackbar"></div>

{literal}
<script>

	var all;
	var current_avatar = 0;
	var in_list = false;
	
	function makeToast(toast)
	{
	  // Get the snackbar DIV
	  var x = document.getElementById("snackbar");
	  
	  x.innerHTML = toast;
	
	  // Add the "show" class to DIV
	  x.className = "show";
	
	  // After 3 seconds, remove the show class from DIV
	  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}

	function generate_lists(data)
	{
		all = [];
		for (i in data.avatars)
		{
			var avatar = data.avatars[i];
			all.push(avatar);
		}
	}

	function sleep(milliseconds) {
	  const date = Date.now();
	  let currentDate = null;
	  do {
	    currentDate = Date.now();
	  } while (currentDate - date < milliseconds);
	}
	
	function send_data(data)
	{	               
		// Creating a XHR object 
		let xhr = new XMLHttpRequest(); 
		let url = "avatarliste.php"; 
		
		// open a connection 
		xhr.open("POST", url, true); 

		// Set the request header i.e. which type of content you are sending 
		xhr.setRequestHeader("Content-Type", "application/json"); 

		// Create a state change callback 
		xhr.onreadystatechange = function () { 
			if (xhr.readyState === 4 && xhr.status === 200) { 

				// Print received data from server 
				console.log(this.responseText);
				var response = JSON.parse(this.responseText);
				switch(response.type)
				{
					case "list":
						generate_lists(response.data);
						makeToast("Liste geladen!");
						break;
					case "succ":
						console.log("Erfolg!");
						makeToast("Erfolg!");
						break;
					default:
						console.log("Fehlschlag! " + this.responseText);
						makeToast("Fehlschlag! " + this.responseText);
						break;
				}
			} 
		}; 
		

		// Sending data with the request 
		sleep(100); //wait a bit before sending, to prevent collisions
		xhr.send(data); 
	}
	
	function check(avatar)
	{
		
	}
	
	function display(i)
	{
		in_list = true;
		del.disabled = false;
		exe.disabled = false;
		avatar = all[i];
		current_avatar = avatar.id;
		document.getElementById("name").value = avatar.avatar;
		document.getElementById("state").value = avatar.state;
		document.getElementById("char").value = avatar.use;
		document.getElementById("notes").value = avatar.notes;
		document.getElementById("id").value = avatar.id;
	}
	
	var del = document.getElementById("delete");
	var exe = document.getElementById("submit");
	var add = document.getElementById("add");
	del.disabled = true;
	exe.disabled = true;
	add.disabled = true;
	
	document.getElementById("srch_char").onclick = function()
	{
		in_list = false;
		var character = document.getElementById("name").value;
		for(i in all)
		{
			if(character == all[i].use)
			{
				display(i);
			}
		}
		if(!in_list) add.disabled = false;
	}

	document.getElementById("srch_avatar").onclick = function()
	{
		in_list = false;
		var name = document.getElementById("name").value;
		for(i in all)
		{
			if(name == all[i].avatar)
			{
				display(i);
			}
		}	
		if(!in_list) add.disabled = false;	
	}

	/*document.getElementById("check").onclick = function()
	{
		check(document.getElementById("name").value);
	}

	document.getElementById("check_all").onclick = function()
	{
		for(i in all)
		{
			check(all[i].avatar);
		}
	}*/

	exe.onclick = function()
	{
		send_data(JSON.stringify({"type": "avaedit", "id": current_avatar, "state": document.getElementById("state").value, "avatar": document.getElementById("name").value, "use": document.getElementById("char").value, "notes": document.getElementById("notes").value}));
		send_data(JSON.stringify({"type": "list"}));
		document.getElementById("name").value = "";
		document.getElementById("state").value = 0;
		document.getElementById("char").value = "";
		document.getElementById("notes").value = "";
		document.getElementById("id").value = "";
		del.disabled = true;
		exe.disabled = true;
		add.disabled = true;
	}
	
	add.onclick = function()
	{
		var ids = [];
		for(i in all)
		{
			ids.push(all[i].id);
		}
		var cnt = 0;
		while(ids.includes(cnt))
		{
			cnt++;
		}
		console.log(cnt);
		document.getElementById("id").value = cnt;
		send_data(JSON.stringify({"type": "avaadd", "id": cnt, "state": document.getElementById("state").value, "avatar": document.getElementById("name").value, "use": document.getElementById("char").value, "notes": document.getElementById("notes").value}));	
		send_data(JSON.stringify({"type": "list"}));
		document.getElementById("name").value = "";
		document.getElementById("state").value = 0;
		document.getElementById("char").value = "";
		document.getElementById("notes").value = "";
		document.getElementById("id").value = "";
		del.disabled = true;
		exe.disabled = true;
		add.disabled = true;
	}

	del.onclick = function()
	{
		send_data(JSON.stringify({"type": "avadel", "id": current_avatar}));
		send_data(JSON.stringify({type: "list"}));
		document.getElementById("name").value = "";
		document.getElementById("state").value = 0;
		document.getElementById("char").value = "";
		document.getElementById("notes").value = "";
		document.getElementById("id").value = "";
		del.disabled = true;
		exe.disabled = true;
		add.disabled = true;
	}
	
	send_data(JSON.stringify({"type": "list"}));

</script>
{/literal}
