<div id="data"></div>
<p style="text-align: center;"><a href="https://www.startrek-online.com/index.php?register/"><span style="font-size: medium;"><strong>&gt;&gt;&gt; Zur Anmeldung&lt;&lt;&lt;</strong></span></a></p>

{literal}<script>
	
	var data = document.getElementById("data");
	var para = document.createElement("p");
	
	var Rank = {
		CDT: 0,
		ENS: 1,
		LTJG: 2,
		LT: 3,
		LTCMDR: 4,
		CMDR: 5,
		CPT: 6,
		FLTCPT: 7
	};
	
	var Post = {
		KO: 1,
		XO: 2,
		CONN: 3,
		CI: 4,
		LTSO: 5,
		LSO: 6,
		LTO: 7,
		LMO: 8,
		LWO: 9,
		CNS: 10,
		properties: {
			1: {value: 1, code: "KO", name_long: "Kommandierender Offizier", name_short: "Kommando", color: "r"},
			2: {value: 2, code: "XO", name_long: "Erster Offizier", name_short: "Erster Offizier", color: "r"},
			3: {value: 3, code: "CONN", name_long: "Navigation", name_short: "Pilot", color: "r"},
			4: {value: 4, code: "CI", name_long: "Chefingenieur", name_short: "Technik", color: "y"},
			5: {value: 5, code: "LTSO", name_long: "Leitender Taktischer und Sicherheitsoffizier", name_short: "Sicherheit-Taktik", color: "y"},
			6: {value: 6, code: "LSO", name_long: "Leitender Sicherheitsoffizier", name_short: "Sicherheit", color: "y"},
			7: {value: 7, code: "LTO", name_long: "Leitender Taktischer Offizier", name_short: "Taktik", color: "r"},
			8: {value: 8, code: "LMO", name_long: "Leitender Medizinischer Offizier", name_short: "Mediziner", color: "w"},
			9: {value: 9, code: "LWO", name_long: "Leitender Wissenschaftsoffizier", name_short: "Wissenschaft", color: "t"},
			10: {value: 10, code: "CNS", name_long: "Counselor", name_short: "Counselor", color: "w"}
		}
	};
	
	class Officer
	{
		constructor(_name, _post)
		{
			this.name = _name;
			this.post = _post;
		}
	}
	
	class Ship 
	{
		constructor(_id, _name, _crew)
		{
			this.id = _id;
			this.name = _name;
			this.crew = _crew;			
		}
	}
	
	
	var ships = [];
	
	function createList(response)
	{
		for (i in response.ships)
		{
			ship = response.ships[i];
			var crew = [];
			for(j in ship.crew)
			{
				for(k in response.officers)
				{
					if(response.officers[k].id == ship.crew[j])
					{
						var off = response.officers[k];
						crew.push(new Officer(off.name, off.post));
					}
				}
			}
			ships.push(new Ship(ship.id, ship.name, crew));
		}
		
				
		var posts = [Post.CONN, Post.CI, Post.LTSO, Post.LWO, Post.LMO, Post.CNS];
					
		var data=``
		
		for (i in posts)
		{
			var post = posts[i];
			var free = "";
			for (j in ships)
			{
				ship = ships[j];
				var postfree = true;
				var lto = false, lso = false;
				for (k in ship.crew)
				{
					var off = ship.crew[k];
						if (off.post == post)
						{
							postfree = false;
						}
						else if(off.post == Post.LTO)
						{
							lto = true;
						}
						else if(off.post == Post.LSO)
						{
							lso = true;
						}
				}
				if(post == Post.LTSO && (lto || lso))
				{
					if(postfree)
					{
					if(lto && !lso)
					{
						free += ship.name + " - " + Post.properties[Post.LSO].name_short + "<br>";
					}
					else if(!lto && lso)
					{
						free += ship.name + " - " + Post.properties[Post.LTO].name_short + "<br>";
					}
					postfree = false;
					}
				}
				if(postfree)
				{
					free += ship.name + " - " + Post.properties[post].name_short + "<br>";
				}
				}
			data += `<p><span style="text-decoration: underline;"><strong>${Post.properties[post].name_short}&nbsp;</strong></span><img src="https://galerie.startrek-online.com/albums/userpics/10001/7/${Post.properties[post].color}-blank.png" alt="" width="40" height="11"></p><p>&nbsp;</p><p>${free}</p><hr><p>&nbsp;</p>`;
		}
				
		if(document.getElementById("output") != null)
		{
			document.getElementById("output").remove();
		}
		para.id = "output";
		para.innerHTML = data;
		document.getElementById("data").appendChild(para);
	}
	

	function sleep(milliseconds)
	{
		const date = Date.now();
		let currentDate = null;
		do {
			currentDate = Date.now();
		} while (currentDate - date < milliseconds);
	}
	
	function send_data(data)
	{               
		// Creating a XHR object 
		let xhr = new XMLHttpRequest(); 
		let url = "offizierdb.php"; 
		
		// open a connection 
		xhr.open("POST", url, true); 
	
		// Set the request header i.e. which type of content you are sending 
		xhr.setRequestHeader("Content-Type", "application/json"); 
	
		// Create a state change callback 
		xhr.onreadystatechange = function () { 
			if (xhr.readyState === 4 && xhr.status === 200) { 
	
				// Print received data from server 
				response = JSON.parse(this.responseText);
				if(response.type == "list")
				{
					createList(response.data);
				}
				else
				{
					alert(response);
				}
			} 
		}; 
		
	
		// Sending data with the request 
		sleep(100); //wait a bit before sending, to prevent collisions
		xhr.send(data); 
	}
	
	send_data(JSON.stringify({"type": "list"}));

	
	
</script>{/literal}
