<table>
<tr>
<td width="256px">
<button onclick="offload()" style="width:256px">Offizier laden</button>
</td>
<td width="256px">
<button onclick="shipload()" style="width:256px">Schiff laden</button>
</td>
<td width="256px">
<button id="bef" onclick="beffun()" style="width:256px">Befördern</button>
</td>
</tr>
<tr>
<td>
<div id="namediv">
Name:<br>
<input type="text" id="name" style="width:256px"><br>
</div>
<div id="imagediv">
Bild:<br>
<input type="text" id="image" style="width:256px"><br>
</div>
</td>
<td>
Schiff:<br>
<input type="text" id="ship" style="width:256px"><br>
</td>
<td>
<button id="vers" onclick="versfun()" style="width:256px">Versetzen</button>
</td>
</tr>
<tr>
<td>
<div id="rankdiv">
<label for="rank">Rang:</label><br>
<select id="rank" name="rank" style="width:256px">
  <option value="0">Cdt.</option>
  <option value="1" selected>Ens.</option>
  <option value="2">LtJg.</option>
  <option value="3">Lt.</option>
  <option value="4">LtCmdr.</option>
  <option value="5">Cmdr.</option>
  <option value="6">Capt.</option>
  <option value="7">FltCapt.</option>
</select>
</div>
<div id="numberdiv">
Nummer:<br>
<input type="text" id="number" style="width:256px"><br>
</div>
</td>
<td>
<div id="postdiv">
<label for="post">Posten:</label><br>
<select id="post" name="post" style="width:256px">
  <option value=1 selected>KO</option>
  <option value=2>XO</option>
  <option value=3>CONN</option>
  <option value=4>CI</option>
  <option value=5>LTSO</option>
  <option value=6>LSO</option>
  <option value=7>LTO</option>
  <option value=8>LMO</option>
  <option value=9>LWO</option>
  <option value=10>CNS</option>
</select>
</div>
<div id="linkdiv">
Link:<br>
<input type="text" id="link" style="width:256px"><br>
</div>
</td>
<td>
<label for="newship">Schiff:</label><br>
<select id="newship" name="newship" style="width:256px">
</select>
</td>
</tr>
<tr>
<td>
<button id="exec" onclick="execfun()" style="width:256px">Ausführen</button>
</td>
<td>
<button id="add" onclick="addfun()" style="width:256px">Hinzufügen</button>
</td>
<td>
<label for="newpost">Posten:</label><br>
<select id="newpost" name="newpost" style="width:256px">
  <option value=1 selected>KO</option>
  <option value=2>XO</option>
  <option value=3>CONN</option>
  <option value=4>CI</option>
  <option value=5>LTSO</option>
  <option value=6>LSO</option>
  <option value=7>LTO</option>
  <option value=8>LMO</option>
  <option value=9>LWO</option>
  <option value=10>CNS</option>
</select>
</tr>
<tr>
<td></td>
<td>
<button id="del" onclick="delfun()" style="width:256px">Löschen</button>
</td>
<td>
<label for="anrede">Anrede:</label><br>
		<select id="anrede" name="anrede">
		  <option value="geehrter Mr.">Mr.</option>
		  <option value="geehrte Ms.">Ms.</option>
		  <option value="geehrte Mrs.">Mrs.</option>
		  <option value="geehrter" selected>keine Anrede</option>
		</select
</td>
</tr>
</table>
<textarea id="out_copy" rows="0" cols="0"></textarea>
<hr>
<div id="snackbar"></div>

{literal}<script>
	
	var red = "<img src=\"https://www.startrek-online.com/images/smilies/smiley34.png\" alt=\":stred:\" class=\"smiley\" srcset=\"https://www.startrek-online.com/images/smilies/smiley34@2x.png 2x\" height=\"23\" data-tooltip=\"Trek red\">";
	var yellow = "<img src=\"https://www.startrek-online.com/images/smilies/smiley35.png\" alt=\":styel:\" class=\"smiley\" srcset=\"https://www.startrek-online.com/images/smilies/smiley35@2x.png 2x\" height=\"23\" data-tooltip=\"Trek yellow\">";
	var teal = "<img src=\"https://www.startrek-online.com/images/smilies/smiley36.png\" alt=\":sttea:\" class=\"smiley\" srcset=\"https://www.startrek-online.com/images/smilies/smiley36@2x.png 2x\" height=\"23\" data-tooltip=\"Trek teal\">";
	var white = "<img src=\"https://www.startrek-online.com/images/smilies/smiley37.png\" alt=\":stwhi:\" class=\"smiley\" srcset=\"https://www.startrek-online.com/images/smilies/smiley37@2x.png 2x\" height=\"23\" data-tooltip=\"Trek white\">";
	var fed = "<img src=\"https://www.startrek-online.com/images/smilies/smiley42.png\" alt=\":stfed:\" class=\"smiley\" srcset=\"https://www.startrek-online.com/images/smilies/smiley42@2x.png 2x\" height=\"23\" data-tooltip=\"Federation\">";
	
	var Rank = {
		CDT: 0,
		ENS: 1,
		LTJG: 2,
		LT: 3,
		LTCMDR: 4,
		CMDR: 5,
		CPT: 6,
		FLTCPT: 7,
		properties: {
			0: {value: "0", name_short: "Cdt.", name_long: "Kadett"},
			1: {value: "1", name_short: "Ens.", name_long: "Ensign"},
			2: {value: "2", name_short: "LtJg.", name_long: "Lieutenant Juniorgrade"},
			3: {value: "3", name_short: "Lt.", name_long: "Lieutenant"},
			4: {value: "4", name_short: "LtCmdr.", name_long: "Lieutenant Commander"},
			5: {value: "5", name_short: "Cmdr.", name_long: "Commander"},
			6: {value: "6", name_short: "Capt.", name_long: "Captain"},
			7: {value: "6b", name_short: "FltCpt.", name_long: "Fleet Captain"}
		}
	};
	
	var Post = {
		KO: 1,
		XO: 2,
		CONN: 3,
		CI: 4,
		LTSO: 5,
		LSO: 6,
		LTO: 7,
		LMO: 8,
		LWO: 9,
		CNS: 10,
		properties: {
			1: {value: 1, code: "KO", name_long: "Kommandierenden Offiziers", name_short: "Kommandierender Offizier", color: "r"},
			2: {value: 2, code: "XO", name_long: "Ersten Offiziers", name_short: "Erster Offizier", color: "r"},
			3: {value: 3, code: "CONN", name_long: "Navigator/Communication Officers", name_short: "Navigation", color: "r"},
			4: {value: 4, code: "CI", name_long: "Chefingenieurs", name_short: "Chefingenieur", color: "y"},
			5: {value: 5, code: "LTSO", name_long: "Leitenden Taktischen und Sicherheitsoffiziers", name_short: "Leitender Taktischer und Sicherheitsoffizier", color: "y"},
			6: {value: 6, code: "LSO", name_long: "Leitenden Sicherheitsoffiziers", name_short: "Leitender Sicherheitsoffizier", color: "y"},
			7: {value: 7, code: "LTO", name_long: "Leitenden Taktischen Offiziers", name_short: "Leitender Taktischer Offizier", color: "r"},
			8: {value: 8, code: "LMO", name_long: "Leitenden Medizinischen Offiziers", name_short: "Leitender Medizinischer Offizier", color: "w"},
			9: {value: 9, code: "LWO", name_long: "Leitenden Wissenschaftsoffiziers", name_short: "Leitender Wissenschaftsoffizier", color: "t"},
			10: {value: 10, code: "CNS", name_long: "Counselors", name_short: "Counselor", color: "w"}
		}
	};
	
	class Officer
	{
		constructor(_id, _name, _rank, _post)
		{
			this.id = _id;
			this.name = _name;
			this.rank = _rank;
			this.post = _post;
		}
	}
	
	class Ship 
	{
		constructor(_id, _name, _image, _number, _link, _crew)
		{
			this.id = _id;
			this.name = _name;
			this.image = _image;
			this.number = _number;
			this.link = _link;
			this.crew = _crew;			
		}
	}
	
	document.getElementById("out_copy").style.visibility = "hidden";
	
	var numberdiv = document.getElementById("numberdiv");
	numberdiv.style.display = "none";
	var linkdiv = document.getElementById("linkdiv");
	linkdiv.style.display = "none";
	var imagediv = document.getElementById("imagediv");
	imagediv.style.display = "none";
	var namediv = document.getElementById("namediv");
	var rankdiv = document.getElementById("rankdiv");
	var postdiv = document.getElementById("postdiv");
	var bef = document.getElementById("bef");
	bef.disabled = true;
	var vers = document.getElementById("vers");
	vers.disabled = true;
	var newship = document.getElementById("newship");
	newship.disabled = true;
	var newpost = document.getElementById("newpost");
	newpost.disabled = true;
	var anredeobj = document.getElementById("anrede");
	anredeobj.disabled = true;
	var exec = document.getElementById("exec");
	exec.disabled = true;
	var add = document.getElementById("add");
	add.disabled = true;
	var del = document.getElementById("del");
	del.disabled = true;
	
	var nameobj = document.getElementById("name");
	var imageobj = document.getElementById("image");
	var shipobj = document.getElementById("ship");
	var numberobj = document.getElementById("number");
	var linkobj = document.getElementById("link");
	var rankobj = document.getElementById("rank");
	var postobj = document.getElementById("post");
	
	var Mode = {
		NONE: 0,
		OFF: 1,
		SHIP: 2
	};
	
	var mode = Mode.NONE;
	var id = 0;
	var found = false;
	var move = false;
	
	var ships = [];
	var officers = [];
	
	send_data(JSON.stringify({"type": "list"}));
	
	function makeToast(toast)
	{
	  // Get the snackbar DIV
	  var x = document.getElementById("snackbar");
	  
	  x.innerHTML = toast;
	
	  // Add the "show" class to DIV
	  x.className = "show";
	
	  // After 3 seconds, remove the show class from DIV
	  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}
	
	function createList(response)
	{
		ships = [];
		officers = [];
		var length = newship.options.length;
		for (i = length-1; i >= 0; i--) {
			newship.options[i] = null;
		}

		var option = document.createElement("option");		
		option.text = "Urlaub";
		option.value = "Urlaub";
		newship.add(option);
		for (i in response.ships)
		{
			ship = response.ships[i];
			ships.push(new Ship(ship.id, ship.name, ship.image, ship.number, ship.link, ship.crew));
			option = document.createElement("option");		
			option.text = ship.name;
			option.value = ship.name;
			newship.add(option);
		}
		for(i in response.officers)
		{
			var off = response.officers[i];
			officers.push(new Officer(off.id, off.name, off.rank, off.post));
		}
	}
	
	function sleep(milliseconds) {
	  const date = Date.now();
	  let currentDate = null;
	  do {
	    currentDate = Date.now();
	  } while (currentDate - date < milliseconds);
	}
	
	function send_data(data)
	{	               
		// Creating a XHR object 
		let xhr = new XMLHttpRequest(); 
		let url = "offizierdb.php"; 
		
		// open a connection 
		xhr.open("POST", url, true); 

		// Set the request header i.e. which type of content you are sending 
		xhr.setRequestHeader("Content-Type", "application/json"); 

		// Create a state change callback 
		xhr.onreadystatechange = function () { 
			if (xhr.readyState === 4 && xhr.status === 200) { 

				// Print received data from server 
				console.log("Rx: " + this.responseText);
				var response = JSON.parse(this.responseText);
				switch(response.type)
				{
					case "list":
						createList(response.data);
						makeToast("Liste geladen!");
						break;
					case "succ":
						console.log("Erfolg!");
						makeToast("Erfolg!");
						break;
					default:
						console.log("Fehlschlag! " + this.responseText);
						makeToast("Fehlschlag! " + this.responseText);
						break;
				}
			} 
		}; 
		

		// Sending data with the request 
		sleep(100); //wait a bit before sending, to prevent collisions
		xhr.send(data); 
		console.log("Tx: " + data);
	}
	
	function offload()
	{
		numberdiv.style.display = "none";
		linkdiv.style.display = "none";
		imagediv.style.display = "none";
		namediv.style.display = "initial";
		rankdiv.style.display = "initial";
		postdiv.style.display = "initial";
		rankobj.value = 1;		
		postobj.value = 1;		
		shipobj.value = "";		
		add.disabled = true;
		del.disabled = true;
		exec.disabled = true;
		mode = Mode.OFF;
		found = false;
		move = false;
		for(i in officers)
		{
			var off = officers[i];
			if(off.name == nameobj.value)
			{
				found = true;
				id = off.id;
				rankobj.value = off.rank;
				postobj.value = off.post;
				newpost.value = off.post;
				
				if(off.holiday == 1)
				{
					shipobj.value = "Urlaub";
				}
				else
				{
					for(j in ships)
					{
						var ship = ships[j];
						for(k in ship.crew)
						{
							if(ship.crew[k] == off.id)
							{
								shipobj.value = ship.name;
							}
						}
					}
				}
							
				bef.disabled = false;
				vers.disabled = false;
				newship.disabled = false;
				newpost.disabled = false;
				anredeobj.disabled = false;
				exec.disabled = false;
				del.disabled = false;
			}
		}
		if(!found)
		{
			add.disabled = false;
		}		
	}
	
	function shipload()
	{
		namediv.style.display = "none";
		rankdiv.style.display = "none";
		postdiv.style.display = "none";
		numberdiv.style.display = "initial";
		linkdiv.style.display = "initial";
		imagediv.style.display = "initial";
		numberobj.value = "";
		linkobj.value = "";
		imageobj.value = "";
		bef.disabled = true;
		vers.disabled = true;
		newship.disabled = true;
		newpost.disabled = true;
		anredeobj.disabled = true;
		add.disabled = true;
		del.disabled = true;
		exec.disabled = true;
		mode = Mode.SHIP;
		found = false;
		move = false;
		for(i in ships)
		{
			var ship = ships[i];
			if(ship.name == shipobj.value)
			{
				found = true;
				id = ship.id;
				numberobj.value = ship.number;
				linkobj.value = ship.link;
				imageobj.value = ship.image;
				
				exec.disabled = false;
				del.disabled = false;
			}
		}
		if(!found)
		{
			add.disabled = false;
		}	
	}
	
	function delfun()
	{
		if(mode == Mode.SHIP)
		{
			exec.disabled = true;
			del.disabled = true;
			numberobj.value = "";
			linkobj.value = "";
			imageobj.value = "";
			send_data(JSON.stringify({"type": "shipdel", "id": id}));
			send_data(JSON.stringify({"type": "list"}));
		}
		else if(mode == Mode.OFF)
		{
			exec.disabled = true;
			del.disabled = true;
			rankobj.value = "";
			postobj.value = "";
			shipobj.value = "";
			send_data(JSON.stringify({"type": "offdel", "id": id}));
			send_data(JSON.stringify({"type": "list"}));
		}
	}
	
	function beffun()
	{
		var position = "Außenposten 234"
		if((shipobj.value != "") && (shipobj.value != "Urlaub"))
		{
			position = `${Post.properties[postobj.value].name_short}</p><p>${shipobj.value}`;
		}
		var oldrank = rankobj.value;
		rankobj.value++;
		var color = "";
		switch(Post.properties[newpost.value].color)
		{
			case "r":
				color = red;
				break;
			case "y":
				color = yellow;
				break;
			case "t":
				color = teal;
				break;
			case "w":
				color = white;
				break;
		}
		var message=`${fed} Beginn der Transmission ${fed}</p>
		<p><br></p>
		<p><br></p>
		<p>Von</p>
		<p>Adm. John Logan</p>
		<p>Leitung Offiziersverwaltung</p>
		<p>Außenposten 234</p>
		<p><br></p>
		<p>An:</p>
		<p>${Rank.properties[oldrank].name_short + " " + nameobj.value}</p>
		<p>${position}</p>
		<p><br></p>
		<p>Betreff: Beförderung zum ${Rank.properties[rankobj.value].name_long}</p>
		<p><br></p>
		<p><br></p>
		<p>Sehr ${anredeobj.value + " " + nameobj.value},</p>
		<p><br></p>
		<p>aufgrund der Leistungen ihrer Arbeit und vor allem ihren Verdiensten und Forschungen, sowie ihrer vorbildlichen Arbeitseinstellung und Anwesenheit in der Sternenflotte befördere ich sie hiermit mit allen Rechten und Pflichten in den Rang eines</p>
		<p><br></p>
		<p>${Rank.properties[rankobj.value].name_long}</p>
		<p><br></p>
		<p>Wir wünschen ihnen viel Kraft, Erfolg und Mut auf ihrem weiteren Werdegang innerhalb der Sternenflotte.</p>
		<p><br></p>
		<p>Mit freundlichen Grüßen,</p>
		<p><br></p>
		<p>Adm. John Logan</p>
		<p>Leitung Offiziersverwaltung</p>
		<p>Außenposten 234</p>
		<p><br></p>
		<p><br></p>
		<p>${fed} Ende der Transmission ${fed}</p>`;
		
		if(document.getElementById("output") != null)
		{
			document.getElementById("output").remove();
		}
		var para = document.createElement("p");
		para.id = "output";
		para.innerHTML = message;
		document.getElementById("content").appendChild(para);
		
		var out_copy = document.getElementById("out_copy");
		out_copy.style.visibility = "initial";
		out_copy.value = message;
		out_copy.select();
	  	out_copy.setSelectionRange(0, 99999);
	  	document.execCommand("copy");
		out_copy.style.visibility = "hidden";
	}
	
	function versfun()
	{
		move = true;
		
		if(newship.value != "Urlaub")
		{
			var position = "Außenposten 234"
			if(shipobj.value != "")
			{
				position = `${Post.properties[postobj.value].name_short}</p><p>${shipobj.value}`;
			}
			var color = "";
			switch(Post.properties[newpost.value].color)
			{
				case "r":
					color = red;
					break;
				case "y":
					color = yellow;
					break;
				case "t":
					color = teal;
					break;
				case "w":
					color = white;
					break;
			}
			var message=`<p>${fed} Beginn der Transmission ${fed}</p>
			<p><br></p>
			<p><br></p>
			<p>Von</p>
			<p>Adm. John Logan</p>
			<p>Leitung Offiziersverwaltung</p>
			<p>Außenposten 234</p>
			<p><br></p>
			<p>An:</p>
			<p>${Rank.properties[rankobj.value].name_short + " " + nameobj.value}</p>
			<p>${position}</p>
			<p><br></p>
			<p>Betreff: Versetzung auf die ${newship.value}</p>
			<p><br></p>
			<p>Sehr ${anredeobj.value + " " + nameobj.value}</p>
			<p><br></p>
			<p>aufgrund der Leistungen, ihrer Arbeit und vor allem ihren Verdiensten und Forschungen, sowie ihrer vorbildlichen Arbeitseinstellung und Anwesenheit in der Sternenflotte versetze ich sie hiermit mit allen Rechten und Pflichten auf den Posten des</p>
			<p><br></p>
			<p>${color + " " + Post.properties[newpost.value].name_long}</p>
			<p><br></p>
			<p>auf die</p>
			<p><br></p>
			<p>${newship.value}</p>
			<p><br></p>
			<p>Wir wünschen ihnen viel Kraft, Erfolg und Mut auf ihrem weiteren Werdegang innerhalb der Sternenflotte.</p>
			<p><br></p>
			<p><br></p>
			<p>Mit freundlichen Grüßen,</p>
			<p><br></p>
			<p>Adm. John Logan</p>
			<p>Leitung Offiziersverwaltung</p>
			<p>Außenposten 234</p>
			<p><br></p>
			<p>${fed} Ende der Transmission ${fed}</p>`;
			
			if(document.getElementById("output") != null)
			{
				document.getElementById("output").remove();
			}
			var para = document.createElement("p");
			para.id = "output";
			para.innerHTML = message;
			document.getElementById("content").appendChild(para);
			
			var out_copy = document.getElementById("out_copy");
			out_copy.style.visibility = "initial";
			out_copy.value = message;
			out_copy.select();
		  	out_copy.setSelectionRange(0, 99999);
			document.execCommand("copy");
			out_copy.style.visibility = "hidden";
		}
	}
	
	function execfun()
	{
		if(mode == Mode.OFF)
		{
			if(move)
			{
				var hadship = false;
				var oldship = 0;
				var dest = 0;
				//determine whether the officer had a ship and if yes which one
				for(i in ships)
				{
					var ship = ships[i];
					for(j in ship.crew)
					{
						if(ship.crew[j] == id)
						{
							hadship = true;
							oldship = ship.id;
						}
					}
				}
				//determine the destination
				if(newship.value == "Urlaub")
				{
					dest = "holiday";
				}
				else if(newship.value != "")
				{
					for(i in ships)
					{
						var ship = ships[i];
						if(ship.name == newship.value)
						{
							dest = ship.id;
						}
					}
				}
				
				if(hadship)
				{
					send_data(JSON.stringify({"type": "offmove", "id": id, "dest": dest, "hadship": 1, "oldship": oldship, "post": newpost.value}));
				}
				else
				{
					send_data(JSON.stringify({"type": "offmove", "id": id, "dest": dest, "hadship": 0, "post": newpost.value}));
				}	
				send_data(JSON.stringify({"type": "offedit", "id": id, "name": nameobj.value, "rank": rankobj.value, "post": newpost.value}));
			}
			else
			{
				send_data(JSON.stringify({"type": "offedit", "id": id, "name": nameobj.value, "rank": rankobj.value, "post": postobj.value}));
			}
			send_data(JSON.stringify({"type": "list"}));
			//offload();
		}
		else if(mode == Mode.SHIP)
		{
			send_data(JSON.stringify({"type": "shipedit", "id": id, "name": shipobj.value, "image": imageobj.value, "link": linkobj.value, "number": numberobj.value}));
			send_data(JSON.stringify({"type": "list"}));
			//shipload();
		}
	}
	
	function addfun()
	{
		if(mode == Mode.OFF)
		{
			var ids = [];
			for(i in officers)
			{
				ids.push(officers[i].id);
			}
			var cnt = 0;
			while(ids.includes(cnt))
			{
				cnt++;
			}
			send_data(JSON.stringify({"type": "offadd", "id": cnt, "name": nameobj.value, "rank": rankobj.value, "post": postobj.value}));
			send_data(JSON.stringify({"type": "list"}));
			//offload();
		}
		else if(mode == Mode.SHIP)
		{
			var ids = [];
			for(i in ships)
			{
				ids.push(ships[i].id);
			}
			var cnt = 0;
			while(ids.includes(cnt))
			{
				cnt++;
			}
			send_data(JSON.stringify({"type": "shipadd", "id": cnt, "name": shipobj.value, "image": imageobj.value, "link": linkobj.value, "number": numberobj.value}));
			send_data(JSON.stringify({"type": "list"}));
			//shipload();
		}		
	}
	
</script>{/literal}
