<h3>Schiffsauswahl:</h3></br>
<div id="form"></div></br>
<div id="data"></div>

{literal}<script>
	
	var form = document.getElementById("form");
	var data = document.getElementById("data");
	var select = document.createElement("select");
	
	var frei = "<p style=\"color:yellow\">FREI</p>";
	var anfrage = "<p style=\"color:yellow\">FREI (nur auf Anfrage)</p>";
	var besetzt = "<p style=\"color:red\">BESETZT</p>";
	
	var Rank = {
		CDT: 0,
		ENS: 1,
		LTJG: 2,
		LT: 3,
		LTCMDR: 4,
		CMDR: 5,
		CPT: 6,
		FLTCPT: 7,
		properties: {
			0: {value: "0", name_short: "Cdt.", name_long: "Kadett"},
			1: {value: "1", name_short: "Ens.", name_long: "Ensign"},
			2: {value: "2", name_short: "LtJg.", name_long: "Lieutenant Juniorgrade"},
			3: {value: "3", name_short: "Lt.", name_long: "Lieutenant"},
			4: {value: "4", name_short: "LtCmdr.", name_long: "Lieutenant Commander"},
			5: {value: "5", name_short: "Cmdr.", name_long: "Commander"},
			6: {value: "6", name_short: "Capt.", name_long: "Captain"},
			7: {value: "6b", name_short: "FltCpt.", name_long: "Fleet Captain"}
		}
	};
	
	var Post = {
		KO: 1,
		XO: 2,
		CONN: 3,
		CI: 4,
		LTSO: 5,
		LSO: 6,
		LTO: 7,
		LMO: 8,
		LWO: 9,
		CNS: 10,
		properties: {
			1: {value: 1, code: "KO", name_long: "Kommandierender Offizier", name_short: "Kommando", color: "r"},
			2: {value: 2, code: "XO", name_long: "Erster Offizier", name_short: "Erster Offizier", color: "r"},
			3: {value: 3, code: "CONN", name_long: "Navigation", name_short: "Navigation", color: "r"},
			4: {value: 4, code: "CI", name_long: "Chefingenieur", name_short: "Technik", color: "y"},
			5: {value: 5, code: "LTSO", name_long: "Leitender Taktischer und Sicherheitsoffizier", name_short: "Sicherheit-Taktik", color: "y"},
			6: {value: 6, code: "LSO", name_long: "Leitender Sicherheitsoffizier", name_short: "Sicherheit", color: "y"},
			7: {value: 7, code: "LTO", name_long: "Leitender Taktischer Offizier", name_short: "Taktik", color: "r"},
			8: {value: 8, code: "LMO", name_long: "Leitender Medizinischer Offizier", name_short: "Medizin", color: "w"},
			9: {value: 9, code: "LWO", name_long: "Leitender Wissenschaftsoffizier", name_short: "Wissenschaft", color: "t"},
			10: {value: 10, code: "CNS", name_long: "Counselor", name_short: "Counseling", color: "w"}
		}
	};
	
	class Officer
	{
		constructor(_name, _rank, _post, _link)
		{
			this.name = _name;
			this.rank = _rank;
			this.post = _post;
			if(_link != "-1")
			{
				this.link = "https://www.startrek-online.com/forum/index.php?board/" + _link + "-" + _name.toLowerCase().replace(" ", "-");
			}
			else
			{
				this.link = "https://www.startrek-online.com/forum/index.php?board/352-offiziersverwaltung/";
			}	
			if(this.rank != null)
			{
			this.pin = "";
			this.pin = Post.properties[this.post].color + "-o" + Rank.properties[this.rank].value;
			if(this.rank == Rank.CDT)
			{
				this.pin = Post.properties[this.post].color + "-c1";
			}
			}
		}
	}
	
	class Ship 
	{
		constructor(_id, _name, _image, _number, _page, _crew)
		{
			this.id = _id;
			this.name = _name;
			this.image = _image;
			this.number = _number;
			this.page = _page;
			this.crew = _crew;			
		}
	}
	
	var ships = [];
	
	function createList(response)
	{
		for (i in response.ships)
		{
			ship = response.ships[i];
			var crew = [];
			for(j in ship.crew)
			{
				for(k in response.officers)
				{
					if(response.officers[k].id == ship.crew[j])
					{
						var off = response.officers[k];
						crew.push(new Officer(off.name, off.rank, off.post, off.link_id));
					}
				}
			}
			ships.push(new Ship(ship.id, ship.name, ship.image, ship.number, ship.link, crew));
		}
		
		var option = document.createElement("option");		
		option.text = "Gesamtansicht";
		option.value = "full";
		select.add(option);
		
		for (i in ships)
		{
			option = document.createElement("option");		
			option.text = ships[i].name;
			option.value = i;
			select.add(option);
		}
		select.addEventListener("change", function() {write_ship()});
		select.style = "width:100%";
		form.appendChild(select);
		
		//select ship from url parameter
		ship = unescape(window.location.search.split("=")[1]);
		if(ship == "full")
		{
			select.value = "full";
		}
		else
		{
			for(i in ships)
			{
				if(ships[i].name == ship)
				{
					select.value = i;
				}
			}
		}
		
		write_ship();	
	}

	function sleep(milliseconds)
	{
		const date = Date.now();
		let currentDate = null;
		do {
			currentDate = Date.now();
		} while (currentDate - date < milliseconds);
	}
	
	function send_data(data)
	{               
		// Creating a XHR object 
		let xhr = new XMLHttpRequest(); 
		let url = "offizierdb.php"; 
		
		// open a connection 
		xhr.open("POST", url, true); 
	
		// Set the request header i.e. which type of content you are sending 
		xhr.setRequestHeader("Content-Type", "application/json"); 
	
		// Create a state change callback 
		xhr.onreadystatechange = function () { 
			if (xhr.readyState === 4 && xhr.status === 200) { 
	
				// Print received data from server 
				console.log("Rx: " + this.responseText);
				response = JSON.parse(this.responseText);
				switch(response.type)
				{
					case "list":
						createList(response.data);
						break;
					default:
						console.log("Fehlschlag! " + this.responseText);
						break;
				}
			} 
		}; 
		
	
		// Sending data with the request 
		sleep(100); //wait a bit before sending, to prevent collisions
		xhr.send(data);
		console.log("Tx: " + data); 
	}
		
	function write_officer(post, rank, name, pin, page = "https://www.startrek-online.com/index.php?freie-stellen/", width = false)
	{
		if(width) return `<tr><td width="30%">${post}</td><td width="30%">${rank}</td><td width="30%"><a href = ${page}>${name}</a></td><td><img src="https://galerie.startrek-online.com/albums/userpics/10001/7/${pin}.png" alt="" width="90" height="25"></img></td></tr>`
		return `<tr><td>${post}</td><td>${rank}</td><td><a href = ${page}>${name}</a></td><td><img src="https://galerie.startrek-online.com/albums/userpics/10001/7/${pin}.png" alt="" width="90" height="25"></img></td></tr>`
	}
		
	function write_officer_short(post, rank, name, width = false)
	{
		if(width) return `<tr><td width="30%">${post}</td><td width="30%">${rank}</td><td width="30%">${name}</td></tr>`
		return `<tr><td>${post}</td><td>${rank}</td><td>${name}</td></tr>`
	}
			
	function write_ship()
	{
		if(select.value == "full")
		{
			var shipdata = "<table><tbody>";
			for (i in ships)
			{
				var ship = ships[i];
				shipdata += "<tr><td><b>";
				shipdata += ship.name;
				shipdata += "</b></td></tr>";
				var posts = "<table><tbody>";
				var crew = [null, null, null, null, null, null, null, null, null, null];
				for (j in ship.crew)
				{
					var off = ship.crew[j];
					crew[off.post] = off;
				}
				if(crew[Post.KO] != null)
				{
					if(crew[Post.KO].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.KO].name_short, Rank.properties[crew[Post.KO].rank].name_long, crew[Post.KO].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.KO].name_short, besetzt, besetzt);
					}
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.KO].name_short, anfrage, anfrage);
					}
				if(crew[Post.XO] != null)
				{
					if(crew[Post.XO].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.XO].name_short, Rank.properties[crew[Post.XO].rank].name_long, crew[Post.XO].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.XO].name_short, besetzt, besetzt);
					}
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.XO].name_short, anfrage, anfrage);
					}
				if(crew[Post.CONN] != null)
				{
					if(crew[Post.CONN].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.CONN].name_short, Rank.properties[crew[Post.CONN].rank].name_long, crew[Post.CONN].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.CONN].name_short, besetzt, besetzt);
					}
					}
				if(crew[Post.CI] != null)
				{
					if(crew[Post.CI].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.CI].name_short, Rank.properties[crew[Post.CI].rank].name_long, crew[Post.CI].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.CI].name_short, besetzt, besetzt);
					}
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.CI].name_short, frei, frei);
					}
				if(crew[Post.LTSO] != null)
				{
					if(crew[Post.LTSO].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.LTSO].name_short, Rank.properties[crew[Post.LTSO].rank].name_long, crew[Post.LTSO].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.LTSO].name_short, besetzt, besetzt);
					}
					}
					else if(crew[Post.LSO] == null || crew[Post.LTO] == null)
					{
					posts += write_officer_short(Post.properties[Post.LTSO].name_short, frei, frei);
					}
				if(crew[Post.LSO] != null)
				{
					if(crew[Post.LSO].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.LSO].name_short, Rank.properties[crew[Post.LSO].rank].name_long, crew[Post.LSO].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.LSO].name_short, besetzt, besetzt);
					}
					}
				if(crew[Post.LTO] != null)
				{
					if(crew[Post.LTO].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.LTO].name_short, Rank.properties[crew[Post.LTO].rank].name_long, crew[Post.LTO].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.LTO].name_short, besetzt, besetzt);
					}
					}
				if(crew[Post.LWO] != null)
				{
					if(crew[Post.LWO].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.LWO].name_short, Rank.properties[crew[Post.LWO].rank].name_long, crew[Post.LWO].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.LWO].name_short, besetzt, besetzt);
					}
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.LWO].name_short, frei, frei);
					}
				if(crew[Post.LMO] != null)
				{
					if(crew[Post.LMO].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.LMO].name_short, Rank.properties[crew[Post.LMO].rank].name_long, crew[Post.LMO].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.LMO].name_short, besetzt, besetzt);
					}
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.LMO].name_short, frei, frei);
					}
				if(crew[Post.CNS] != null)
				{
					if(crew[Post.CNS].name != "besetzt")
					{
					posts += write_officer_short(Post.properties[Post.CNS].name_short, Rank.properties[crew[Post.CNS].rank].name_long, crew[Post.CNS].name);
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.CNS].name_short, besetzt, besetzt);
					}
					}
					else
					{
					posts += write_officer_short(Post.properties[Post.CNS].name_short, frei, frei);
					}
				
				posts += "</tbody></table><hr>";
				shipdata += posts;
			}
			shipdata += "</tbody></table>";
		}
		else
		{
			ship = ships[select.value];
			var crew = [null, null, null, null, null, null, null, null, null, null];
			var posts = "";
			
			for (i in ship.crew)
			{
				var off = ship.crew[i];
				crew[off.post] = off;
			}
			
			if(crew[Post.KO] != null)
			{
				if(crew[Post.KO].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.KO].name_short, Rank.properties[crew[Post.KO].rank].name_long, crew[Post.KO].name, crew[Post.KO].pin, crew[Post.KO].link, true);
				}
				else
				{
				posts += write_officer(Post.properties[Post.KO].name_short, besetzt, besetzt, Post.properties[Post.KO].color + "-blank", true);
				}
				}
				else
				{
				posts += write_officer(Post.properties[Post.KO].name_short, anfrage, anfrage, Post.properties[Post.KO].color + "-blank", true);
				}
			if(crew[Post.XO] != null)
			{
				if(crew[Post.XO].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.XO].name_short, Rank.properties[crew[Post.XO].rank].name_long, crew[Post.XO].name, crew[Post.XO].pin, crew[Post.XO].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.XO].name_short, besetzt, besetzt, Post.properties[Post.XO].color + "-blank");
				}
				}
				else
				{
				posts += write_officer(Post.properties[Post.XO].name_short, anfrage, anfrage, Post.properties[Post.XO].color + "-blank");
				}
			if(crew[Post.CONN] != null)
			{
				if(crew[Post.CONN].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.CONN].name_short, Rank.properties[crew[Post.CONN].rank].name_long, crew[Post.CONN].name, crew[Post.CONN].pin, crew[Post.CONN].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.CONN].name_short, besetzt, besetzt, Post.properties[Post.CONN].color + "-blank");
				}
				}
			if(crew[Post.CI] != null)
			{
				if(crew[Post.CI].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.CI].name_short, Rank.properties[crew[Post.CI].rank].name_long, crew[Post.CI].name, crew[Post.CI].pin, crew[Post.CI].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.CI].name_short, besetzt, besetzt, Post.properties[Post.CI].color + "-blank");
				}
				}
				else
				{
				posts += write_officer(Post.properties[Post.CI].name_short, frei, frei, Post.properties[Post.CI].color + "-blank");
				}
			if(crew[Post.LTSO] != null)
			{
				if(crew[Post.LTSO].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.LTSO].name_short, Rank.properties[crew[Post.LTSO].rank].name_long, crew[Post.LTSO].name, crew[Post.LTSO].pin, crew[Post.LTSO].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.LTSO].name_short, besetzt, besetzt, Post.properties[Post.LTSO].color + "-blank");
				}
				}
				else if(crew[Post.LSO] == null || crew[Post.LTO] == null)
				{
				posts += write_officer(Post.properties[Post.LTSO].name_short, frei, frei, Post.properties[Post.LTSO].color + "-blank");
				}
			if(crew[Post.LSO] != null)
			{
				if(crew[Post.LSO].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.LSO].name_short, Rank.properties[crew[Post.LSO].rank].name_long, crew[Post.LSO].name, crew[Post.LSO].pin, crew[Post.LSO].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.LSO].name_short, besetzt, besetzt, Post.properties[Post.LSO].color + "-blank");
				}
				}
			if(crew[Post.LTO] != null)
			{
				if(crew[Post.LTO].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.LTO].name_short, Rank.properties[crew[Post.LTO].rank].name_long, crew[Post.LTO].name, crew[Post.LTO].pin, crew[Post.LTO].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.LTO].name_short, besetzt, besetzt, Post.properties[Post.LTO].color + "-blank");
				}
				}
			if(crew[Post.LWO] != null)
			{
				if(crew[Post.LWO].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.LWO].name_short, Rank.properties[crew[Post.LWO].rank].name_long, crew[Post.LWO].name, crew[Post.LWO].pin, crew[Post.LWO].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.LWO].name_short, besetzt, besetzt, Post.properties[Post.LWO].color + "-blank");
				}
				}
				else
				{
				posts += write_officer(Post.properties[Post.LWO].name_short, frei, frei, Post.properties[Post.LWO].color + "-blank");
				}
			if(crew[Post.LMO] != null)
			{
				if(crew[Post.LMO].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.LMO].name_short, Rank.properties[crew[Post.LMO].rank].name_long, crew[Post.LMO].name, crew[Post.LMO].pin, crew[Post.LMO].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.LMO].name_short, besetzt, besetzt, Post.properties[Post.LMO].color + "-blank");
				}
				}
				else
				{
				posts += write_officer(Post.properties[Post.LMO].name_short, frei, frei, Post.properties[Post.LMO].color + "-blank");
				}
			if(crew[Post.CNS] != null)
			{
				if(crew[Post.CNS].name != "besetzt")
				{
				posts += write_officer(Post.properties[Post.CNS].name_short, Rank.properties[crew[Post.CNS].rank].name_long, crew[Post.CNS].name, crew[Post.CNS].pin, crew[Post.CNS].link);
				}
				else
				{
				posts += write_officer(Post.properties[Post.CNS].name_short, besetzt, besetzt, Post.properties[Post.CNS].color + "-blank");
				}
				}
				else
				{
				posts += write_officer(Post.properties[Post.CNS].name_short, frei, frei, Post.properties[Post.CNS].color + "-blank");
				}
			
			var shipdata=`<hr><table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%" align="left"><caption>&nbsp;</caption>
			<tbody>
			<tr><td><h2>${ship.name}</h2>
			<h3>${ship.number}</h3></td></tr>
			<tr><td><a href="https://www.startrek-online.com/forum/index.php?board/${ship.page}"><img src=${ship.image} alt="" width="300px" align="left"></img></a></td></tr>
			</tbody>
			</table>
			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
			<table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%" cellspacing="10" cellpadding="10"><caption>&nbsp;</caption>
			<tbody>
			${posts}
			</tbody>
			</table>
			<br>
			<hr>`
		}
		if(document.getElementById("output") != null)
		{
			document.getElementById("output").remove();
		}
		var para = document.createElement("p");
		para.id = "output";
		para.innerHTML = shipdata;
		document.getElementById("data").appendChild(para);
	}
	
	send_data(JSON.stringify({"type": "list"}));
		
</script>{/literal}
